<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="sqlserverconnectionSAMB" value="Server=192.168.1.73;Database=SAMB;User ID=gussbee28;Password=$mango#17;MultipleActiveResultSets=True;"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>